@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.listMeme {
  margin: 10px 0;
  padding: 10px;
}

.listMeme:hover {
  border: 2px solid blue;
  border-radius: 5px;
}

.fileSelect {
  margin: 2px 10px;
}

.fileSelect:hover {
  border: 2px solid rgba(10, 85, 210, 0.8);
  margin: 0 8px;
}

.deleteMeme {
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.editMeme {
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.submitUpdateButton {
  margin-left: 10px;
}

.comment-div {
  border: 1px solid black;
  border-radius: 3px;
  margin: 5px 0;
}

.comment-header {
  margin-bottom: 0px;
}

.comment-item {
  margin-bottom: 0px;
  display: inline;
}

.comment-delete-section {
  margin-bottom: 20px;
  display: inline;
}

.deleteComment {
  height: 15px;
  font-size: 8px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.comment-form {
  display: flexbox;
  align-items: baseline;
}

.comment-input {
  margin-right: 10px;
  margin-top: 10px;
  display: flexbox;
  height: 60px;
}

.comment-btn {
  border: 1px solid rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
  margin-top: -50px;
  display: inline;
}

.anonymous-div {
}

.anonymous-checkbox {
  height: 15px;
  margin-right: 7px;
}

.meme-title-update {
  margin-left: 10px;
}
