@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.listMeme {
  margin: 10px 0;
}

.fileSelect {
  margin: 2px 10px;
}

.fileSelect:hover {
  border: 2px solid rgba(10, 85, 210, 0.8);
  margin: 0 8px;
}

.deleteMeme {
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.editMeme {
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.submitUpdateButton {
  margin-left: 10px;
}

.comment-input {
  margin-right: 10px;
}

.comment-btn {
  border: 1px solid rgba(0, 0, 0, 0.6);
}
